<dx-data-grid 
  id="gridContainer"
  [dataSource]="dataSource"
  [allowColumnReordering]="true"
  (onEditingStart)="logEvent('EditingStart')"
  (onInitNewRow)="logEvent('InitNewRow')"
  (onRowInserting)="logEvent('RowInserting')"
  (onRowInserted)="logEvent('RowInserted')"
  (onRowUpdating)="logEvent('RowUpdating')"
  (onRowUpdated)="logEvent('RowUpdated')"
  (onRowRemoving)="logEvent('RowRemoving')"
  (onRowRemoved)="logEvent('RowRemoved')">

  <dxo-paging [enabled]="true"></dxo-paging>
  <dxo-editing 
      mode="row"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true">
  </dxo-editing>

  <dxi-column dataField="titleOfCourtesy" caption="Title"></dxi-column>
  <dxi-column dataField="firstName"></dxi-column>
  <dxi-column dataField="lastName"></dxi-column>
  <dxi-column dataField="title" caption="Position" [width]="130"></dxi-column>
  <dxi-column dataField="region" [width]="125">         
  </dxi-column>
  <dxi-column
      dataField="birthDate"
      [width]="125"
      dataType="date">
  </dxi-column>
</dx-data-grid>

<div id="events">
  <div>
      <div class="caption">
          Fired events
      </div>
      <dx-button id="clear" text="Clear" (onClick)="clearEvents()"></dx-button>
  </div>
  <ul>
      <li *ngFor="let event of events">{{event}}</li>
  </ul>
</div>
