<!-- <dx-data-grid id="gridContainer" [dataSource]="dataSource"
    [allowColumnReordering]="true"
    (onEditingStart)="logEvent('EditingStart')"
    (onInitNewRow)="logEvent('InitNewRow')"
    (onRowInserting)="logEvent('RowInserting')"
    (onRowInserted)="logEvent('RowInserted')"
    (onRowUpdating)="logEvent('RowUpdating')"
    (onRowUpdated)="logEvent('RowUpdated')"
    (onRowRemoving)="logEvent('RowRemoving')"
    (onRowRemoved)="logEvent('RowRemoved')">
</dx-data-grid> -->

<dx-data-grid id="gridContainer" [dataSource]="dataSource"
    [allowColumnReordering]="true"
    (onEditingStart)="logEvent('EditingStart')"
    (onInitNewRow)="logEvent('InitNewRow')"
    (onRowInserting)="logEvent('RowInserting')"
    (onRowInserted)="logEvent('RowInserted')"
    (onRowUpdating)="logEvent('RowUpdating')"
    (onRowUpdated)="logEvent('RowUpdated')"
    (onRowRemoving)="logEvent('RowRemoving')"
    (onRowRemoved)="logEvent('RowRemoved')">

    <dxi-column dataField="customerID"
        caption="Customer"
        ></dxi-column>
    <dxi-column dataField="orderDate"
        dataType="date"
    ></dxi-column>
    <dxi-column dataField="freight"></dxi-column>
    <dxi-column dataField="shipCountry"></dxi-column>
    <dxi-column dataField="shipRegion"
        dataField="shipVia"
    ></dxi-column>
    
    <dxo-remote-operations
        [sorting]="true"
        [paging]="true">
    </dxo-remote-operations>
    <dxo-paging [pageSize]="12"></dxo-paging>
    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[8, 12, 20]"
    ></dxo-pager>
</dx-data-grid>