<nav id="sidebar">
  <!-- Sidebar Header -->
  <div class="sidebar-header">
    <h3>DevExtreme App</h3>
    <h4>{{title}}</h4>
  </div>

  <!-- Sidebar Links -->
  <ul class="list-unstyled components">
    <li [routerLinkActive]="['link-active']">
      <a [routerLink]="['/home']">
        <span class='glyphicon glyphicon-home'></span>
        Home
      </a>
    </li>

    <li [routerLinkActive]="['link-active']">
      <a [routerLink]="['/help']">
        <span class='glyphicon glyphicon-education'></span>
        Help
      </a>
    </li>

    <li><!-- Link with dropdown items -->
      <a href="#orderSubmenu" data-toggle="collapse" aria-expanded="false">
        <span class='glyphicon glyphicon-folder-open'></span>
        Order
      </a>
      <ul class="collapse list-unstyled" id="orderSubmenu">
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/orderList']">
            <span class='glyphicon glyphicon-list-alt'></span>
            Order List
          </a>
        </li>

        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/order']">
            <span class='glyphicon glyphicon-th-list'></span>
            Order Edit
          </a>
        </li>
      </ul>
    <li [routerLinkActive]="['link-active']">
      <a [routerLink]="['/employee']">
        <span class='glyphicon glyphicon-user'></span>
        Employee
      </a>
    </li>
    <li>
      <a href="#">
        <span class="glyphicon glyphicon-blackboard"></span>
        Portfolio
      </a>
    </li>
    <li>
      <a href="#">
        <span class="glyphicon glyphicon-envelope"></span>
        Contact
      </a>
    </li>
  </ul>
</nav>
